.formCarrier{
	opacity:.96;
	position: absolute;
	top: 50%;
	width:85%;
	max-height:85%;
	margin-left:10%;
	margin-right:10%;
	padding:30px;
	transform: translateY(-50%);
  font-size:34px;
  border-radius:30px;
}

input {
	line-height:30px;
}

.h1, .h2, .h3 {
	font-family: 'Roboto Slab', serif;
}

.holder {
	position:absolute;
	top:0;
	left:0;
	height:100%;
	background-size:cover;
}

.bgImage{
	height: 100%;
	width: 100%;
}

.load-iframe {
	height:0;
	width:0;
	frameborder:0;
	position:fixed;
	top:0;
	left:0;
}
.load-iframe.true{
	height:100%;
	width:100%;
	z-index:9999;
}

.welcomePhraseStyle{
	font-size:110px;
	font-family: 'Roboto Slab', serif;
}
.formSplit .col-md-6{
	padding:25px;
	text-align:center;
}